* {
/* border: 1px solid grey; */
margin: 0;
padding: 0;
font-family: sans-serif;
}

body {
    border-color: lightgrey;
}

#overlay {
    background-color: grey;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.95;
}
#title{
    color: blue;
    text-shadow: 3px 3px red;
    font-size: 2.5em;
    text-transform: uppercase;
    display: inline-block;
    position: fixed;
    top: 55px;
    left: -100px;
    transform: rotate(0.85turn);
}

#number {
    color: rgb(255, 225, 0);
    text-shadow: 3px 3px red;
    font-size: 2.5em;
    text-align: center;
}

#header {
    position: fixed;
    display: inline;
    left: 50%;
    top: 10px;
    margin-left: -200px;
    text-align: center;
    width: 400px;
}

#pl1, #pl2 {
    display: inline-block;
    text-align: center;
}

#pl1{
    font-size: 1.5em;
    color: blue;
    text-shadow: 1px 1px grey;
}

#pl2 {
    color: red;
    text-shadow: 1px 1px grey;
}

#instructions {
    margin-top: 7px;
    color: grey;
    cursor: pointer;
    text-shadow: 1px 1px rgb(0, 0, 255, 0.75);
}

#instructions:hover {
    color: black;

}


.manual {
    margin-left: 50px;
    display: none;
    background-color: white;
    font-size: 1em;
    width: 350px;
    height: 160px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -130px;
    padding: 15px;
    box-shadow: 7px 7px grey;
}

#congrats {
    margin-left: 50px;
    display: none;
    background-color: white;
    font-size: 1em;
    width: 350px;
    height: 120px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -130px;
    padding: 15px;
    /* box-shadow: 7px 7px darkgrey; */
    transition: display 2s;
}

#congrats-title {
    text-transform: uppercase;
    color: blue;
    text-shadow: 1px 1px red;
    text-align: center;
    padding-bottom: 5px;
}

#congrats-winner {
    text-align: center;
}

#input-winner {
    padding: 10px;
    /* text-transform: uppercase; */
}
#restart {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: 8px;
    color: rgb(255, 225, 0);
    text-shadow: 1px 1px red;
    background-color: lightgrey;
    font-size: 1.2em;
    padding: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}

#close-manual {
    color: red;
    float: right;
    margin-top: -10px;
    margin-right: 0px;
    cursor: pointer;
}

#close-manual:hover {
    transition: transform 0.5s linear;
    transform: rotate(180deg);
}

#text-manual {
    padding: 10px;
}

#board {
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -200px;
    width: 386px;
    height: 339px;
    min-width: 386px;
    box-shadow: 10px 10px 10px 2px rgba(0,0,0, 0.3);

}

.column {
    display: inline-block;
    margin: -3px;

}
.slot {
    background-color: rgb(255, 225, 0);
    width: 50px;
    height: 50px;
    padding: 7px 0 0 7px;
    /* box-shadow: 7px 7px rgb(147, 146, 146); */

}

/* .hole:hover {
    border: 1px tomato solid;
} */

.hole{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 10px;
    background-image: linear-gradient(to bottom right, rgb(178, 176, 176), white);

}

.row0 {
    cursor: pointer;
}

.player1 {
    background-color: blue;
    background-image: linear-gradient(to bottom right, rgb(93, 154, 234), blue);
}

.player2 {
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(244, 112, 112), red);

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
